button.toggle-btn(onclick='toggleSidebarBtn()') &#x2630;

#sidebar.sidebar
  button.close-btn(onclick='closeSidebarBtn()') &times;
  img.navbar-brand(src='/client/img/huy_hieu_doan.png' alt='')
  ul.nav.flex-column
    li.nav-item
      a.nav-link.active(href='/admin/accounts') Qu&#x1EA3;n l&yacute; t&agrave;i kho&#x1EA3;n
    li.nav-item
      a.nav-link(href='/tasks') Qu&#x1EA3;n l&yacute; c&ocirc;ng vi&#x1EC7;c
    li.nav-item
      a.nav-link(href='/tasks/progress') Ti&#x1EBF;n &dstrok;&#x1ED9; c&ocirc;ng vi&#x1EC7;c
    li.nav-item
      a.nav-link(href='schedule.html') L&#x1ECB;ch c&ocirc;ng t&aacute;c
    li.nav-item
      a.nav-link(href='/members/search') T&igrave;m ki&#x1EBF;m &dstrok;o&agrave;n vi&ecirc;n
    li.nav-item
      a.nav-link(href='/proposals') Qu&#x1EA3;n l&yacute; &dstrok;&#x1EC1; xu&#x1EA5;t
    .logout-icon
      li.nav-item
        a.nav-logout(href='#')
          i.bi.bi-box-arrow-right(style='font-size: x-large;')

script(src='/client/js/sidebar.js')