#main-content.container
  form
    h2 T&igrave;m ki&#x1EBF;m &dstrok;o&agrave;n vi&ecirc;n
    .search-container
      input#searchInput.form-control(type='text' placeholder='Nhập tên để tìm kiếm...' aria-label='Tìm kiếm' onkeyup='searchMembers()')
      button.search-btn(type='button')
        i.bi.bi-search
  table.table.table-bordered.table-striped.table-hover
    thead.table-light
      tr
        th(scope='col') T&ecirc;n
        th(scope='col') Email
        th(scope='col') S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i
        th(scope='col') &Dstrok;&#x1ECB;a ch&#x1EC9;
    tbody
      tr
        td nguyen van a
        td a@gmail.com
        td 12345678
        td aDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123
      tr
        td nguyen van b
        td b@gmail.com
        td 12345678
        td bDepChai
        td 123

