.sider
  .inner-menu
    ul
        li 
            a.nav-link(href=`${prefixAdmin}/role`) Nhóm quyền
        li 
            a.nav-link(href=`${prefixAdmin}/role/permissions`) Phân quyền
        li
            a.nav-link(href="/admin/accounts") Quản lý tài khoản
        li
            a.nav-link(href="/tasks") Quản lý công việc
        li
            a.nav-link(href="/tasks/progress") Tiến độ công việc
        li
            a.nav-link(href="/schedules") Lịch công tác
        li
            a.nav-link(href="/members/search") Tìm kiếm đoàn viên
        li
            a.nav-link(href="/proposals") Quản lý đề xuất
        